@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Mlight;
  src: url("../public/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: done;
  src: url("../public/fonts/DaysOne-Regular.ttf");
}

.htext {
  font-family: done;
}

.btext {
  font-family: Mlight;
}

.button {
  background-color: #2563eb; /* Tailwind's bg-blue-600 */
  color: #e7e5e4; /* Tailwind's text-stone-200 */
  border: none;
  transition: box-shadow 0.5s ease; /* Smooth transition */
}

.button:hover {
  box-shadow: 0px 0px 10px rgba(4, 65, 155, 0.9); /* Blue glow effect */
}

.bg-services {
  background-image: url("../public/images/servicesBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-landing {
  background-image: url("../public/images/landingBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top right,
    rgba(0, 0, 0, 0.9),
    rgba(158, 11, 11, 0) 100%
  );
  z-index: 100;
}

.ant-tabs-nav-list {
  width: 100%;
  justify-content: center;
  ;
}

@media (max-width: 768px) {
  .ant-tabs-nav-list {
    width: auto;
    justify-content: center;
  }
}
.ant-menu-item-selected {
  background-color: #2563eb !important;
  color: #e7e5e4 !important;
}

.elevation {

  box-shadow: 0px 0px 17.54px rgba(0, 0, 0, 0.3),
    /* Top shadow */
    0px 0px 17.54px rgba(0, 0, 0, 0.3),
    /* Left shadow */
    0px 0px 17.54px rgba(0, 0, 0, 0.3);
  /* Right shadow */
}
.elevationlight {

  box-shadow: 0px 0px 17.54px rgba(0, 0, 0, 0.1),
    /* Top shadow */
    0px 0px 17.54px rgba(0, 0, 0, 0.1),
    /* Left shadow */
    0px 0px 17.54px rgba(0, 0, 0, 0.1);
  /* Right shadow */
}
.ant-table-thead .ant-table-cell {
  background-color: #3b82f6 !important;
  color: white !important;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 2px;
}

.ant-table-tbody {
  color: #525252 !important;
  font-weight: 600;
  font-size: 16px;
  font-family: Mlight;
}

.ant-modal-title {
  font-family: done;
  font-size: 20px !important;
  color: #3b82f6 !important;
}
::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* You can change the color */
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a85c5;
  /* You can change the color */
  border-radius: 6px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929291;
  /* You can change the color */

}