@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Mlight;
  src: url("../public/fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: done;
  src: url("../public/fonts/DaysOne-Regular.ttf");
}

.htext {
  font-family: done;
}

.btext {
  font-family: Mlight;
}
